{% extends "base.html" %}
{% block content %}
    <h1 align="center">Инструкции к прохождению теста</h1>
    <p>1. Удостоверьтесь, что Вы понимаете каждый вопрос. Перечитайте вопрос столько раз, сколько потребуется.
    Пожалуйста, ответьте на каждый вопрос.</p>
    <p>2. Не задерживайтесь слишком долго на одном вопросе. Ответьте на него сразу, как только Вы его поняли и
        переходите у следующему.</p>
    <p>3. Когда ответы будут отличаться в зависимости от того, рассматриваете ли Вы прошлое или настоящее,
    отвечайте по отношению к настоящему мнению.</p>
    <p>4. В ответах есть 3 варианта: '+' - в основном да или твердое да, '?' - может быть, ни да, ни нет,
    неуверенность, '-' - нет или в основном нет.</p>
    <p>5. На каждый вопрос должен быть дан только 1 ответ.</p>
    <p>6. Укажите Ваше имя, почту, пол, возраст.</p>
    <a href="/test/" class="btn btn-primary m-b">Начать тест</a>
{% endblock %}