{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <p align="right">Перед началом теста обязательно прочитайте
        <a href="/instructions/"><strong>инструкцию</strong></a>.
    </p>
    {% if not thank_you %}
    <form method="post" action="">{% csrf_token %}
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <h2 align="center">Введите Ваши данные</h2>
                {{ user_form|crispy }}
            </div>
        </div>
        <h2 align="center">Ответьте на вопросы</h2>
        {% if warning %}
            <h3 align="center"><strong>{{ warning }}</strong></h3>
        {% endif %}
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td align="center">№</td>
                                    <td align="center">Вопрос</td>
                                    <td align="center"><strong>+ (Да)</strong></td>
                                    <td align="center"><strong>? (Не знаю)</strong></td>
                                    <td align="center"><strong>- (Нет)</strong></td>
                                </tr>
                                {% for question in questions %}
                                    <tr>
                                        <td align="center">{{ question.number }}</td>
                                        <td align="justify">{{ question.text }}</td>
                                        <td align="center"><input type='radio' value="y" name='{{ question.number }}'
                                                                  {% for n,v in checked %}
                                                                      {% if n == question.number and v == 'y' %}
                                                                          checked
                                                                      {% endif %}
                                                                  {% endfor %}>
                                        </td>
                                        <td align="center"><input type='radio' value="m" name='{{ question.number }}'
                                                                  {% for n,v in checked %}
                                                                      {% if n == question.number and v == 'm' %}
                                                                          checked
                                                                      {% endif %}
                                                                  {% endfor %}>
                                        </td>
                                        <td align="center"><input type='radio' value="n" name='{{ question.number }}'
                                                                  {% for n,v in checked %}
                                                                      {% if n == question.number and v == 'n' %}
                                                                          checked
                                                                      {% endif %}
                                                                  {% endfor %}>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <input type="submit" value="Закончить тест">
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% else %}
        <h3 align="center"><strong>{{ thank_you }}</strong></h3>
    {% endif %}

{% endblock %}
